<div class="container">
  <div class="row">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <div class="row">
          <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Where you at?" name="term" id="term" ngModel required>
          </div>
          <div class="col-md-1">
            <button class="btn btn-info" type="submit" [disabled]="!f.valid">Search</button>
          </div>
          <div class="col-md-1" *ngIf="!isValid">
            <button class="btn btn-primary" type="button" [routerLink]="['/login']">Login</button>
          </div>
          <div class="col-md-1" *ngIf="isValid">
            <button class="btn btn-danger" type="button" (click)="onSignOut()">Logout</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="row">
    <div *ngIf="isLoading" class="inner" style="font-size: 50px; margin-top:100px">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw inner"></i>
      <span class="sr-only">Loading...</span>
    </div>
    <div class="container">
      <div class="row container" *ngFor="let item of listOfBars | thriplets">
          <div class="col-md-3" *ngFor="let barItem of item" style="margin: 10px;" >
            <app-bar [bar]="barItem" *ngIf="barItem"></app-bar>
          </div>
      </div>
    </div>
  </div>
</div>
